# Backend
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/product_reviews_db

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=15m

# Frontend
FRONTEND_URL=http://localhost:4200

# Prisma
PRISMA_OPTIONAL_INSTALL=true
